streamlit==1.64.0
numpy==2.5.3
pillow==12.3.0
opencv-python-headless==5.0.0.93
matplotlib==3.11.2
scikit-image==0.26.0
pandas==3.0.5
requests==2.34.2
safetensors==0.8.0
huggingface_hub==1.31.0
keras==3.15.1
tensorflow==2.21.0
torch==2.14.0
torchvision==0.29.0
fundus-lesions-toolkit==0.1.1
torchseg==0.0.1a4
fundus_image_toolbox==0.1.3